<div class="bg-white w-96 h-[527px] text-blue-950 rounded-3xl p-8 flex flex-col justify-between items-center">
  <div class="flex flex-col items-center gap-4">
    <img class="block h-28 w-28" src="/assets/images/Profile Image.svg" alt="" srcset="">
    <div class="bg-blue-50 w-24 h-7 text-center">Pro</div>
  </div>
  <div class="flex flex-col text-center mx-8">
    <h2 class="text-lg font-bold">Neelesh Chaudhary</h2>
    <h3 class="text-base mb-3">UI / UX Designer</h3>
    <span class="text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare pretium placerat ut
      platea.</span>
  </div>
  <div class="flex justify-between w-3/4 items-center">
    <img class="h-5" src="/assets/images/dribble.svg" alt="" srcset="">
    <img class="h-5" src="/assets/images/instagram.svg" alt="" srcset="">
    <img class="h-5" src="/assets/images/twitter.svg" alt="" srcset="">
    <img class="h-5" src="/assets/images/linkedin.svg" alt="" srcset="">
    <img class="h-5" src="/assets/images/facebook.svg" alt="" srcset="">
    <img class="h-5" src="/assets/images/behance.svg" alt="" srcset="">
  </div>
  <div class="flex w-full gap-3">
    <button class="w-full rounded-2xl border-2 py-4 border-slate-700 border-solid">
      <span class="text-lg font-bold">Message</span>
    </button>
    <button class="w-full bg-blue-950 rounded-2xl border-2 py-4 border-slate-700 border-solid">
      <span class="text-lg font-bold text-indigo-100">Connect</span>
    </button>
  </div>
</div>