<div class="bg-white w-[450px] h-[550px] text-blue-950 rounded-3xl p-8 flex flex-col justify-between">
  <div class="rounded-3xl overflow-hidden">
    <img src="/assets/images/2661564.png" alt="" srcset="">
  </div>
  <div class="flex flex-col gap-4">
    <h2 class="text-3xl font-bold">Learn Microinteraction</h2>
    <span class="text-sm">Monday Jan 20 , 2020</span>
    <p class="text-sm text-blue-950/60">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare pretium
      placerat ut platea. Purus blandit
      integer sagittis massa vel est hac.</p>
  </div>
  <div class="flex justify-between items-center">
    <div class="font-bold text-sm">Read Full Blog</div>
    <div class="bg-blue-50 rounded-md py-1.5 px-6">BLOG</div>
  </div>
</div>