<div class="bg-white w-[450px] h-60 p-8 text-blue-950 rounded-3xl flex flex-col justify-between">
  <div class="flex justify-between">
    <div class="flex flex-col justify-between">
      <h2 class="font-bold text-3xl">Expertise</h2>
      <div class="flex flex-col justify-between gap-1">
        <div class="flex gap-2 items-center">
          <span class="h-2.5 w-2.5 block rounded-full bg-indigo-500"></span>
          <span class="text-lg">UI Design</span>
        </div>
        <div class="flex gap-2 items-center">
          <span class="h-2.5 w-2.5 block rounded-full bg-blue-950"></span>
          <span class="text-lg">UX Research</span>
        </div>
        <div class="flex gap-2 items-center">
          <span class="h-2.5 w-2.5 block rounded-full bg-yellow-400"></span>
          <span class="text-lg">Design Interaction</span>
        </div>
        <div class="flex gap-2 items-center">
          <span class="h-2.5 w-2.5 block rounded-full bg-green-400"></span>
          <span class="text-lg">Wireframing</span>
        </div>
      </div>
    </div>
    <div class="relative bg-gradient-conic flex items-center justify-center -rotate-45 h-44 w-44 rounded-full">
      <div class="bg-white h-2/5 w-2/5 rounded-full"></div>
      <span class="absolute rotate-45 text-xs text-white top-14 right-6">35%</span>
      <span class="absolute rotate-45 text-xs text-white top-[136px] right-11">15%</span>
      <span class="absolute rotate-45 text-xs text-white top-[136px] right-[102px]">15%</span>
      <span class="absolute rotate-45 text-xs text-white top-10 right-[121px]">35%</span>
    </div>
  </div>
</div>