<div class="bg-white w-96 h-80 text-blue-950 rounded-3xl p-8 flex flex-col justify-between">
  <div class="text-base  flex justify-between items-center">
    <img src="/assets/images/Profile Image.svg" alt="" srcset="">
    <div class="flex flex-col items-center">
      <span>Post</span>
      <span class="font-bold text-lg">23</span>
    </div>
    <div class="flex flex-col items-center">
      <span>Followers</span>
      <span class="font-bold text-lg">326</span>
    </div>
    <div class="flex flex-col items-center">
      <span>Following</span>
      <span class="font-bold text-lg">120</span>
    </div>
  </div>
  <div class="flex flex-col">
    <h2 class="text-lg font-bold">Neelesh Chaudhary</h2>
    <span class="text-base">UI / UX Designer</span>
  </div>
  <div class="">
    <h3 class="text-base font-bold">About</h3>
    <p class="text-sm text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare pretium placerat
      ut platea. Purus blandit integer sagittis massa vel est hac.</p>
  </div>
</div>