<div class="bg-white w-[450px] h-24 p-5 text-blue-950 rounded-3xl flex gap-3">
  <div class="w-14 h-14 bg-blue-50 rounded-full flex justify-center items-center">
    <div class="w-6 h-6 relative">
      <img src="/assets/images/notification.svg" alt="" srcset="">
      <span class="absolute border-2 border-blue-50 border-solid w-2.5 h-2.5 bg-green-400 rounded-full top-0 right-0.5"></span>
    </div>
  </div>
  <div class="flex justify-center flex-col">
    <p class="text-xl font-bold">You have 1 new message</p>
    <span class="text-lg text-blue-950/60">Hi Neelesh , we have a task for you...</span>
  </div>
</div>