<div class="bg-white w-[450px] h-96 text-blue-950 rounded-3xl p-8 flex flex-col justify-between">
  <div class="flex justify-between items-center">
    <span class="text-lg font-bold">Calendar</span>
    <div class="flex items-end relative w-44 text-center">
      <span class="text-4xl font-bold w-full">Jan 2020</span>
      <span class="block border-t-white border-l-white
      border-[6px] border-b-blue-950 border-solid border-r-blue-950
      absolute right-0 bottom-1"></span>
    </div>
  </div>
  <table class="table-fixed w-full">
    <thead class="h-16">
      <tr>
        <th>S</th>
        <th>M</th>
        <th>T</th>
        <th>W</th>
        <th>T</th>
        <th>F</th>
        <th>S</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center h-10">
        <td class="text-blue-950/60">27</td>
        <td class="text-blue-950/60">28</td>
        <td class="text-blue-950/60">29</td>
        <td class="text-blue-950/60">30</td>
        <td class="text-blue-950/60">1</td>
        <td>2</td>
        <td>3</td>
      </tr>
      <tr class="text-center h-10">
        <td>4</td>
        <td>5</td>
        <td class="flex items-center justify-center">
          <span class="h-10 w-10 flex items-center justify-center bg-blue-50 rounded-full">6</span>
        </td>
        <td>7</td>
        <td class="flex items-center justify-center">
          <span class="h-10 w-10 flex items-center justify-center bg-blue-950 rounded-full text-blue-50">8</span>
        </td>
        <td>9</td>
        <td>10</td>
      </tr>
      <tr class="text-center h-10">
        <td>11</td>
        <td>12</td>
        <td>13</td>
        <td>14</td>
        <td class="relative">15
          <div class="absolute bottom-0.5 left-[17px] flex justify-center gap-0.5">
            <span class="h-1.5 w-1.5 block bg-red-400 rounded-full"></span>
            <span class="h-1.5 w-1.5 block bg-yellow-400 rounded-full"></span>
            <span class="h-1.5 w-1.5 block bg-blue-400 rounded-full"></span>
          </div>
        </td>
        <td>16</td>
        <td>17</td>
      </tr>
      <tr class="text-center h-10">
        <td>18</td>
        <td>19</td>
        <td>20</td>
        <td>21</td>
        <td class="relative">22
          <div class="absolute bottom-0.5 left-[17px] flex justify-center gap-0.5">
            <span class="h-1.5 w-1.5 block bg-red-400 rounded-full"></span>
            <span class="h-1.5 w-1.5 block bg-yellow-400 rounded-full"></span>
            <span class="h-1.5 w-1.5 block bg-blue-400 rounded-full"></span>
          </div>
        </td>
        <td>23</td>
        <td>24</td>
      </tr>
      <tr class="text-center h-10">
        <td>25</td>
        <td>26</td>
        <td>27</td>
        <td>28</td>
        <td>29</td>
        <td>30</td>
        <td>31</td>
      </tr>
    </tbody>
  </table>
</div>