<div class="bg-white w-[450px] h-[550px] p-8 text-blue-950 rounded-3xl flex flex-col justify-between">
  <div class="flex flex-col gap-3">
    <h2 class="text-3xl font-bold">Task to do</h2>
    <p class="text-sm text-blue-950/60 text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare
      pretium placerat ut platea. Purus
      blandit integer
      sagittis massa vel est hac.</p>
  </div>
  <div class="flex flex-col gap-3">
    <div class="w-full flex items-center gap-3 pl-3.5 pr-6 h-16 bg-blue-50 rounded-xl">
      <div class="w-10 h-10 flex justify-center items-center bg-white rounded-full">
        <img class="w-5" src="/assets/images/tick.svg" alt="" srcset="">
      </div>
      <p class="flex-1 text-xl font-bold">Wireframing</p>
      <img class="w-8" src="/assets/images/delete.svg" alt="" srcset="">
    </div>
    <div class="w-full flex items-center gap-3 pl-3.5 pr-6 h-16 bg-blue-50 rounded-xl">
      <div class="w-10 h-10 flex justify-center items-center bg-white rounded-full">
        <img class="w-5" src="/assets/images/tick.svg" alt="" srcset="">
      </div>
      <p class="flex-1 text-xl font-bold">Design Interaction</p>
      <img class="w-8" src="/assets/images/delete.svg" alt="" srcset="">
    </div>
    <div class="w-full flex items-center gap-3 pl-3.5 pr-6 h-16 bg-blue-50 rounded-xl">
      <div class="w-10 h-10 flex justify-center items-center bg-white rounded-full">
        <img class="w-5" src="/assets/images/tick.svg" alt="" srcset="">
      </div>
      <p class="flex-1 text-xl font-bold">Wireframe Update</p>
      <img class="w-8" src="/assets/images/delete.svg" alt="" srcset="">
    </div>
  </div>
  <div class="w-16 h-16 rounded-full bg-blue-950 self-end flex justify-center items-center">
    <img class="w-4" src="/assets/images/plus.svg" alt="" srcset="">
  </div>
</div>