<div class="bg-white w-96 h-36 rounded-3xl p-8 flex items-center justify-between">
  <div class="h-full text-blue-950/60 flex flex-col justify-between">
    <span class="text-sm ">New Delhi</span>
    <span class="text-3xl font-bold text-blue-950">06:20 AM</span>
    <span class="text-sm ">Novemaber 10.2020 | Wednesday</span>
  </div>
  <div class="flex">
    <img src="/assets/images/Weather Icon.svg" alt="" srcset="">
    <span class="text-blue-950 text-2xl font-bold">18&deg; C</span>
  </div>
</div>